.expandableText {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 2;
    line-clamp: 2;
}

.expandableTitle {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 1;
    line-clamp: 1;
}

.iconContainer {
    position: relative;
}

.notFavoriteIcon {
    opacity: 0; /* Hide by default */
    transition: opacity 0.3s; /* Smooth transition for opacity change */
    position: absolute;
}

.iconContainer::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #393E46;
    opacity: 0; /* Hide background by default */
    transition: opacity 0.3s; /* Smooth transition for opacity change */
}

.iconContainer:hover .notFavoriteIcon,
.notFavoriteIcon:hover {
    height: 50px;
    width: 50px;
    right: 0;
    cursor: pointer; /* Change cursor to pointer when hovering over the icon */
    opacity: 1; /* Show icon when the container or the icon is hovered */
}

.iconContainer:hover::before,
.notFavoriteIcon:hover::before {
    opacity: 0.5; /* Show background with 0.5 opacity on hover */
}

.favoriteIcon {
    position: absolute;
    right: 0;
    cursor: pointer; /* Change cursor to pointer when hovering over the icon */
}